---
import Footer from '@components/Footer/Footer.astro';
import type { LangType } from 'src/types/lang';
import type { ContentType } from 'src/types/translations';
import '../styles/global.css';

interface Props {
  lang: LangType;
  content: ContentType;
}

const { lang, content } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, import.meta.env.SITE_URL);
const imagePath =
  lang === 'ja'
    ? '/ogp_japanese.png'
    : lang === 'en'
      ? '/ogp_english.png'
      : '/ogp_moai.png';
const ogpImageURL = new URL(imagePath, canonicalURL);
---

<!doctype html>
<html lang={lang === 'en' ? 'en' : 'ja'}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:site_name" content={content.meta.title} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={content.meta.title} />
    <meta property="og:description" content={content.meta.description} />
    <meta property="og:image" content={ogpImageURL} />
    <meta property="og:locale" content={lang === 'en' ? 'en_US' : 'ja_JP'} />
    <meta name="description" content={content.meta.description} />
    <title>{content.meta.title}</title>
  </head>
  <body class="bg-primary flex min-h-dvh flex-col p-6 text-base text-black">
    <main>
      <slot />
    </main>
    <div class="flex-grow"></div>
    <Footer content={content} />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
  }
</style>
